.page-header{
  background: $off-white;
  margin-bottom: $l-size;
  padding: $m-size 0;
}

.page-header__actions{
  margin-top: $m-size;
  span{
    margin-right: 10px;
  }
}

.page-header__title{
  margin: 0;
  font-weight: 300;
  span{
    font-weight: 700;
  }
}

.page-header__summary{
  float: right;
}

.page-header__list li{
  list-style: none;
}

.page-header__list li span{
  font-weight: bold;
}

.page-header__list li strong{
  color: red;
}
